# 
#
export FLICKR_API_KEY="88652f967a141fb284983f4ebb72ae4c"
export FLICKR_SECRET="0963afdcff78cb2b"
# you user  name to reequest permissions for
export FLICKR_USER_NAME=""

# request permissions type
export FLICKR_PERMISSIONS="read"

# Unless you know better, keep this set to "oob", which tells flickr
# that this code uses an "out-of-band" authentication callback.
#
export FLICKR_CALLBACK="oob"

# These values are commented off. When you first run the FlickrApi's
# authentication, you will be given the actual values to use.
#
#export FLICKR_USER_ID=""
#export FLICKR_ACCESS_TOKEN=
#export FLICKR_ACCESS_TOKEN_SECRET=

# directory for backup
export FLICKR_BACKUP_DIR=""

# how old photos (according date uploaded) will be backup
# value is in seconds
export FLICKR_MAX_AGE="263000"
